.content-mid a{
        color: #1474CA !important;
    }

    #amazingslider-3{
        height: auto !important;
        max-height:300px !important;
    }

    .carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
    /* The controlsy */
    .carousel-control {
        left: -12px;
        height: 40px;
        width: 40px;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        margin-top: 90px;
    }
    .carousel-control.right {
        right: -12px;
    }
    /* The indicators */
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: -10px;
        margin-right: -19px;
    }
    /* The colour of the indicators */
    .carousel-indicators li {
        background: #cecece;
    }
    .carousel-indicators .active {
        background: #428bca;
    }

    /*carousel lama*/
    /*Makes images fully responsive 

    .img-responsive,
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        display: block;
        width: 100%;
        height: auto;
    }

     ------------------- Carousel Styling ------------------- 

    .carousel-inner {
        border-radius: 15px;
    }

    .carousel-caption {
        background-color: rgba(0,0,0,.5);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 0 0 10px 25px;
        color: #fff;
        text-align: left;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 15;
        margin: 0;
        padding: 0 25px 25px 0;
        text-align: right;
    }

    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }


     ------------------- Section Styling - Not needed for carousel styling ------------------- 

    .section-white {
        padding: 10px 0;
    }

    .section-white {
        background-color: #fff;
        color: #555;
    }

    .carousel .item {
        height: 250px !important;
        background-color: #777;
    }
    .carousel{
        margin-top:0px !important;
    }
    .carousel-caption{
        background-color: #777777;
    }*/
    /*carousel lama*/


    //comment panel
    .thumbnail {
        padding:0px;
    }
    .panel-comment {
        position:relative;
    }
    .panel-comment > .panel-heading{
        background-color:#E6E2E2 !important;
    }
    .panel-comment>.panel-heading:after,.panel>.panel-heading:before{
        position:absolute;
        top:11px;left:-16px;
        right:100%;
        width:0;
        height:0;
        display:block;
        content:" ";
        border-color:transparent;
        border-style:solid solid outset;
        pointer-events:none;
    }
    .panel-comment>.panel-heading:after{
        border-width:7px;
        border-right-color:#E6E2E2;
        margin-top:1px;
        margin-left:2px;
    }
    .panel-comment>.panel-heading:before{
        border-right-color:#ddd;
        border-width:8px;
    }